# Project exclude paths
/cmake-build-debug/
/data/Simulation_Results/planets_p_q_human_readable.txt
/data/Simulation_Results/planets_p_q_python.txt
/data/Simulation_Results/system_variables_python.txt
/bin/